.btn {
  background-color: #ffffff;
  color: #000000;
  border: black solid 0.125rem;
  width: 7.5rem;
  height: 2.5rem;
  text-align: center;
  padding-top: 0.4375rem;
  transition: 350ms all; }
  .btn:hover {
    background-color: black;
    color: white; }

* {
  box-sizing: border-box;
  margin: 0;
  font-weight: 100; }

.cover h1 {
  color: #000000;
  font-size: 17vmin;
  font-family: serif;
  text-align: center;
  padding: 0 4vw 0 0;
  z-index: 10;
  font-weight: 100; }
.cover h2 {
  color: #000000;
  font-size: 5vmin;
  font-family: serif;
  text-align: center;
  padding: 0 4vw 0 0;
  z-index: 10;
  font-weight: 100; }
.cover-about {
  height: 20rem;
  width: 20rem;
  margin: 9vh auto;
  text-align: center;
  background-color: #ffffff00;
  padding: 1.875rem;
  z-index: 10; }
.cover .cover-circle {
  border-radius: 0rem 0rem 247vmax 0;
  background-color: #ffffff;
  height: 100vh;
  margin: 0 auto;
  text-align: center; }
.cover .btn-container {
  margin: 0 auto;
  max-width: max-content; }
  .cover .btn-container .btn {
    margin: 1.625rem 0.625rem 0 0;
    float: left; }

.content .column-education {
  width: 40vmax; }
.content .article-header {
  font-size: 3.625rem;
  text-align: center;
  margin: 0.625rem auto;
  color: #ffffff; }
.content h3 {
  font-size: 1.9375rem;
  text-align: left;
  padding-left: 10vw; }
.content .education-flex {
  display: flex;
  justify-content: center;
  color: #ffffff;
  flex-wrap: wrap; }
  .content .education-flex ul {
    padding: 0; }
    .content .education-flex ul li {
      margin: 5vh 5vw 0 11vw; }
@media only screen and (max-width: 587px) {
  .content .education-flex {
    display: flex;
    justify-content: space-evenly;
    color: #ffffff;
    flex-wrap: wrap; } }
.content .skills-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  border-radius: 18vmax 0vmax 6vmax 0vmax;
  background-color: #ffffff; }
.content .skills {
  border-radius: 21vmax 0vmax 6vmax 0vmax;
  background-color: #ffffff;
  margin-top: 4.375rem; }
.content .imgport-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly; }
  .content .imgport-container .imgport {
    height: 30vmax;
    width: 30vmax;
    background-color: #ff0000;
    border: solid #000000 2px;
    margin-top: 2.6875rem; }

.fab {
  transition: 250ms all;
  color: #000000;
  font-size: 15.625rem; }
  .fab:hover {
    color: #ff0000; }

.htmlogo-container {
  z-index: 2;
  position: relative; }

.retract-box {
  width: 100px;
  height: 100px;
  background-color: blue;
  position: absolute;
  z-index: 1; }

.extend-box {
  width: 100px;
  height: 100px;
  background-color: blue;
  position: absolute; }

.body {
  display: grid;
  grid-template: 'cover      cover'      100vh 'aside      content'    auto 'footer     footer'     20vh / 0vw auto; }

.cover {
  grid-area: cover;
  background-color: black; }

.aside {
  grid-area: aside; }

.content {
  grid-area: content;
  background-color: #000000;
  display: grid;
  grid-template: 'education'     auto 'skills'        auto 'portfolio'     auto / auto; }
  .content .education {
    grid-area: education; }
  .content .skills {
    grid-area: skills; }
  .content .portfolio {
    grid-area: portfolio; }

.footer {
  grid-area: footer;
  background-color: #ffffff; }

/*# sourceMappingURL=main.css.map */
