* {
    box-sizing: border-box;
    margin: 0;
    font-weight: 100;
}
// cover***********************************************************************
    .cover {
        h1 {
            color: #000000;
            font-size:  17vmin;
            font-family: serif;
            text-align: center;
            padding: 0 4vw 0 0;
            z-index: 10;
            font-weight: 100
        }
        h2 {
            color: #000000;
            font-size: 5vmin;
            font-family: serif;
            text-align: center;
            padding: 0 4vw 0 0;
            z-index: 10;
            font-weight: 100;
        }
        &-about {
            height: 20rem;
            width: 20rem;
            margin: 9vh auto;
            text-align: center;
            background-color: #ffffff00;
            padding: 1.875rem;
            z-index: 10;
        }
        .cover-circle {
            border-radius: 0rem 0rem 247vmax 0;
            background-color: #ffffff;
            // max-width: max-content;
            height: 100vh;
            margin: 0 auto;
            text-align: center;
        }
        .btn-container{
            margin: 0 auto;
            max-width: max-content;
            
            .btn {
                margin: 1.625rem 0.625rem 0 0;
                float: left;
            }
        }
    }

// content*********************************************************************
    .content {
        .column-education {
            width: 40vmax;
        }
        .article-header  {
            font-size: 3.625rem;
            text-align: center;
            margin: 0.625rem auto;
            color: #ffffff;
        }
        
        
        // education*********************************************************
            h3 {
                font-size: 1.9375rem;
                text-align: left;
                padding-left: 10vw; 
            }
        .education-flex {
            display: flex;
            justify-content: center;
            color: #ffffff; 
            flex-wrap: wrap;    
            ul {
                padding: 0;
                li {
                    margin: 5vh 5vw 0 11vw;
                }
            }
        }
        @media only screen and (max-width:587px){ 
            .education-flex {
                display: flex;
                justify-content: space-evenly;
                color: #ffffff;
                flex-wrap: wrap;
            }    
        }
// skills************************************************************
        .skills-container {
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
            border-radius: 18vmax 0vmax 6vmax 0vmax;
            background-color: #ffffff;
        }
        .skills {
            border-radius: 21vmax 0vmax 6vmax 0vmax;
            background-color: #ffffff;
            margin-top: 4.375rem;
        }
// portfolio*********************************************************
        .imgport-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            .imgport {
                height: 30vmax;
                width: 30vmax;
                background-color: #ff0000;  
                border: solid #000000 2px; 
                margin-top: 2.6875rem      
            }
        }
    }   

.fab {
    transition: 250ms all;
    color: #000000;
    font-size: 15.625rem;
    &:hover {
        color: #ff0000;
    }
}


.htmlogo-container {
    z-index: 2;
    position: relative;
}

.retract-box {
    width: 100px;
    height: 100px;
    background-color: blue;
    position: absolute;
    z-index: 1;
}
.extend-box {
    width: 100px;
    height: 100px;
    background-color: blue;
    position: absolute;
}