* {
    box-sizing: border-box;
    margin: 0;
    font-weight: 100;
}

    .cover {
        h1 {
            color: #000000;
            font-size:  17vmin;
            font-family: serif;
            text-align: center;
            padding: 0 4vw 0 0;
            z-index: 10;
            font-weight: 100

            //  margin: 0 0 10px 0; 
        }
        h2 {
            color: #000000;
            font-size: 5vmin;
            font-family: serif;
            text-align: center;
            padding: 0 4vw 0 0;
            z-index: 10;
            font-weight: 100;
        }
        &-about {
            height: 20rem;
            width: 20rem;
            // float: right;
            // margin: 8vh 4vw 0 0;
            margin: 9vh auto;
            text-align: center;
            background-color: rgba(255, 255, 255, 0);
            padding: 1.875rem;
            z-index: 10;
        }
        .test {
            border-radius: 0rem 0rem 247vmax 0;
            background-color: #ffffff;
            // max-width: max-content;
            // width: 100px;
            height: 100vh;
            // z-index: -1  0;
            // position: absolute;
            margin: 0 auto;
            text-align: center;
        }
        .btn-container{
            margin: 0 auto;
            max-width: max-content;
            
            .btn {
                margin: 1.625rem 0.625rem 0 0;
                float: left;
            }
        }
    }


    .content {
        h3 {
            font-size: 1.9375rem;
            text-align: left;
            padding-left: 10vw; 
        }
        .test123 {
            width: 40vmax;
        }
        .article-header  {
            font-size: 3.625rem;
            text-align: center;
            margin: 0.625rem auto;
            color: white;
        }
        

        
        .education-flex {
            display: flex;
            justify-content: center;
            color: white; 
            flex-wrap: wrap;    

            
            ul {
                padding: 0;
                // justify-items: 
                // list-style: none;  
                
                li {
                    margin: 5vh 5vw 0 11vw;
                }
            }
        }
        @media only screen and (max-width:587px){ 
            .education-flex {
                display: flex;
                justify-content: space-evenly;
                color: white;
                flex-wrap: wrap;
            }    
        }
        .skills-container {
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
            border-radius: 18vmax 0vmax 6vmax 0vmax;
            background-color: white;
        }
        .skills {
            border-radius: 21vmax 0vmax 6vmax 0vmax;
            background-color: white;
            margin-top: 4.375rem;
        }
        .imgport-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            .imgport {
                height: 30vmax;
                width: 30vmax;
                background-color: red;  
                border: solid black 2px; 
                margin-top: 2.6875rem      
            }
        }
    }   

.fab {
    transition: 250ms all;
    color: black;
    font-size: 15.625rem;
    

    &:hover {
        color: red;
    }
}