

    // font-family: 'Pontano Sans', sans-serif;

    // font-family: 'Cinzel', serif;



    .btn {
        background-color: #ffffff;
        color: #000000;
        border: black solid 0.125rem;
        width: 7.5rem;
        height: 2.5rem;
        text-align: center;
        padding-top: 0.4375rem;
    }