

.body {
    display: grid;
    grid-template:
    'cover      cover'      100vh
    'aside      content'    100vh
    'footer     footer'     20vh / 0vw auto; 
}

.cover {
    grid-area: cover;
    background-color: black;
}

.aside {
    grid-area: aside;   
}

.content {
    grid-area: content;
    background-color: blue;

    display: grid;
    grid-template:
        'education'     auto
        'skills'        auto
        'portfolio'     auto / auto;

    .education {
        grid-area: education;
    }
    .skills {
        grid-area: skills;
    }
    .portfolio {
        grid-area: portfolio;
    }
}

.footer {
    grid-area: footer;
    background-color: yellow;
}


