* {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
}


// body container********************************
.body {
    display: grid;
    grid-template: 
        'body-header        body-header'        100vh
        'body-main          body-main'          100vh
        'body-footer        body-footer'        20vh / 10vw auto;

    // header container******
    &-header {
        grid-area: body-header;
        // background-color: #000000;
    }


    // aside container*******
    &-aside {
        width: 0rem;
        height: 100vh;
        background-color: red;
        position: fixed;
        transition: all 1s;
    }   
    &-aside_on {
        width: 10rem;
        height: 100vh;
        background-color: red;
        position: fixed;
        transition: all 1s;
    }   
    
    
    // main container********
    &-main {
        grid-area: body-main;
        background-color: blueviolet;
    }


    // footer container******
    &-footer {
        grid-area: body-footer;
        background: green;
    }


}