

.body {
    display: grid;
    grid-template:
    'cover      cover'      100vh
    'aside      content'    100vh
    'footer     footer'     20vh / 0vw auto; 
}

.cover {
    grid-area: cover;

    background-color: #ffffff;

}

.aside {
    grid-area: aside;   
}

.content {
    grid-area: content;
}

.footer {
    grid-area: footer;
    background-color: violet;
}
